$bg: #434d5a;

[id*=flat-slider].ui-slider,
[id*=flat-slider].ui-slider .ui-slider-pip .ui-slider-line {
    background: lighten($bg, 25%);
}

[id*=flat-slider].ui-slider .ui-slider-handle .ui-slider-tip:after {
    border-left-color: #434d5a;
}


[id*=flat-slider].ui-slider .ui-slider-handle.ui-state-hover,
[id*=flat-slider].ui-slider .ui-slider-handle.ui-state-focus,
[id*=flat-slider].ui-slider .ui-slider-handle.ui-state-active {
      border-color: white; }


.stuff {

    padding: 50px 50px 50px;
    max-width: 900px;
    margin: auto;

}

@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,600);