<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'deck/timeline.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'deck/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'deck/coin-slider.css' %}" />
    <script type="text/javascript" src="{% static 'deck/js/cufon-yui.js' %}"></script>
<script type="text/javascript" src="{% static 'deck/js/cufon-georgia.js' %}"></script>
<script type="text/javascript" src="{% static 'deck/js/jquery-1.4.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'deck/js/script.js' %}"></script>
<script type="text/javascript" src="{% static 'deck/js/coin-slider.min.js' %}"></script>

</head>
<body>
<div class="main">
  <div class="header">
    <div class="header_resize">
      <div class="menu_nav">
        <ul>
          <li ><a href="../"><span>Deck</span></a></li>
          <li><a href="../newevent"><span>New+</span></a></li>
          <li><a href="../stats"><span>Stats</span></a></li>
          <li><a href="../setting"><span>Settings</span></a></li>
          <li class="active"><a href="profile"><span>Profile</span></a></li>
        </ul>
      </div>
      <div class="logo">
        <h1><span>ABC's Profile</span></h1>
      </div>
      <div class="clr"></div>

    </div>



  </div>


  <div class="content">
     <div class="content_resize">
      <div class="mainbar">
        <div class="article">
          <h2><span>Stats</span></h2>
          <div class="clr"></div>
          <div class="img"><img src="" width="620" height="420" alt="" class="fl" /></div>
          <div class="post_content">
            <p> </p>

          </div>
          <div class="clr"></div>
        </div>
      </div>

      <div class="sidebar">
        <div class="gadget">
          <h2 class="star"><span>Quick</span> View</h2>
          <div class="clr"></div>
          <ul class="sb_menu">
            <li><a href="#">Recently Completed</a></li>
            <li><a href="#">Over Due</a></li>
            <li><a href="#">Efficiency</a></li>
            <li><a href="#">Do stuff</a></li>
            <li><a href="#">Mind Map</a></li>
          </ul>
        </div>
      </div>
      <div class="clr"></div>
    </div>
  </div>



</div>
</body>
</html>
